@charset "UTF-8";

/*共通部分*/
html {
    font-size: 100%;
}

/*ヘッダー*/
.header {
    display: flex;
    width: 40rem;
    height: 30rem;
    background-color: #845898;
    background-size: cover;
}
.main-nav {
    display: flex;
    justify-content: flex-end;


}
.main-nav a {
    color: #1A1F4D
}
.main-nav a:hover {
    color: #845898
}






.about {
    font-size: 2rem;
    padding-left: 2rem;


}
.about p {
    font-size: 2rem;
    padding-left: 5rem;
}
.p1 {
    font-size: 2rem;
    padding-left: 5rem;
}
.p2 {
    font-size: 5rem;
    padding-left: 5rem;
}
.p3 {
    font-size: 2rem;
    padding-left: 5rem;
}


/*フッター*/
.page-footer {
    background-color: #845898;
    background-size: cover;


}



.table {
    margin: 3.5rem 0;
    width: 100%;
}




.th {
    background: #bcbcc8;
    vertical-align: middle;
    padding: 10px 0;
}




.td {
    padding: .75rem 1rem 1.75rem;
}


.container a {
    color: #1A1F4D
}

.body {
    background-image: url('Image.png');
    background-size: cover;
}
